/* Selector universal *¨{} */
*{
    margin: 0;
}
html{
    background-color:bisque;
}
.menu {
    background-color: coral;
    text-align: center;
    margin: 0;
}
/* inline-block es para que cada <li> sea un bloque independiente y le puedas dar estilos */
.menu li{
    display: inline-block;
}
/*  padding es para separa los bloques de <li>
    display:block hace que cada linea se transforme en un bloque transparente, aparentemente aumenta el grososor del navegador
*/
.menu a{
    padding: 30px;
    text-decoration: none;
    display: block;
    color: cornsilk;
}
/* hover permite efectos peculiares en css, preferible que lo compruebes en live server */
.menu a:hover{
    background-color: darkcyan;
    font-size: 30px
}
/* Si hay espacios entre lineas o bloques aplica "overflow:hiden" para que los bloques y espacios esten al límite */
.central{
    background-color:aquamarine;
    text-align: center;
    overflow: hidden;
    padding: 40px;
}
/* font -weight: bold para que el texto este en negrita */
.sombra{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff;
    /* somb. x - somb. y - color */
    /* Busca como hacer contornos a las letras en san yutub */
    text-shadow: -3px 0px rgb(32, 37, 43);
}

.neon{
    text-align: center; 
    font-family: Arial; 
    font-size: 30px; 
    COLOR: #14181b; 
    text-shadow: 0px 0px 10px #9c4f3c;
}

.contorno{
    text-align: center; 
    font-family: Arial; 
    font-size: 30px; 
    COLOR: #1278BF; 
    text-shadow: -3px 0 rgb(121, 11, 11), 0 3px rgb(163, 9, 9), 3px 0 rgb(177, 8, 8), 0 -3px rgb(206, 16, 16);


}

.m3d{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);

}
