@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');/* font para parrafos */

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');/* font para subtitulos */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap'); /*font para el titulo */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); /*font para el nav*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
    
body{
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: #F9C547;
}
.titulo{
    font-size: 85px;
    letter-spacing: 30px;
    font-family: 'Jost', sans-serif;
    margin-right: 190px;
}

    .bandera{
        float: left;
        height: 130px;
        border: solid;
        margin-left: 50px;
    }
.navbar{
    grid-area: navbar;
    background-color: #47C9BD;
    text-align: center;
    margin: 0;
}
    .navbar li{
        display: inline-block;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
    }
    .navbar a{
        padding: 10px 30px 10px 30px;
        text-decoration: none;
        display: block;
        color: cornsilk;
    }
    .navbar a:hover{
        background-color: darkcyan;
        font-size: 30px
    }
    
.sidebar{
    grid-area: sidebar;
    background-color: #F9C547;

}
    .sidebar img{
        height: 70px;
    }

    .sidebar a{
        text-decoration: none;
        color:black;
    }

.main{
    grid-area: main;
    background-color: #f5f5f5;
    
}
    .main img{
    height: 350px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    border: solid;
    border-width: 1px;
}

.mushashi{
    height: 140px;
    float: right;
    margin: -64px 25px 0px 0;
    }

    .main img:hover{
        filter: opacity(0.7);
        transition: 1s;
        border-radius: 20px;
    }
    .main p {
        text-align: justify;
        margin: 0 100px 30px 100px;
        font-family: 'Noto Sans SC', sans-serif;
        font-size: 17px;
        line-height: 28px;
    }

    .main h2{
        font-family: 'Secular One', sans-serif;
        font-size: 30px;
    }

    .main h1{
        font-family: 'Jost', sans-serif;
        font-size: 60px;
        text-decoration: underline #F9C547;
        margin: 30px 0 0 0;
        text-shadow: 5px -4px rgb(185, 184, 184)
    }

footer{
    grid-area: footer;
    background-color: #47C9BD;
    clear: both;
}
    .nombre{
        text-align: center;
        color:rgb(255, 255, 255);
        font-family:'Roboto Mono', monospace;
        background-color: #47C9BD;
        padding-top: px;
        font-size: 60px;
}

    .creditos h2{
        display: inline;
        text-align: center;
        padding-left: 115px;
        font-family:'Roboto Mono', monospace;
        font-size: 15px;
        background-color: #47C9BD;
        padding-bottom: 10px;
        text-decoration: none;
        color:black ;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template:
    "header"   100px
    "navbar"   50px
    "main"     auto
    "sidebar"  100px
    "footer"   100px;
}

@media (min-width: 600px) {
    .grid-container {

        grid-template:
        ".  header" 100px
        "navbar  navbar"  50px
        "sidebar main"   auto
        "footer  footer"  100px /
        200px auto;
    }
}

@media (min-width: 900px) {
    .grid-container {

        grid-template:
        "header  header header" 150px
        "navbar navbar navbar"  75px
        "sidebar main main" auto    
        "footer  footer footer"  110px /
        200px auto 300px;
    }
}