/* Otra  forma de importar tipos de letras es: ve a google> google font> elige la letra> presiona "+select this style"> en @import selecciona todo lo que esta dentro de <style>> copialo siempre al inicio de tu codigo CSS*/
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

/* el "*{}" sirve para aplicar cambios en toda la página, es como colocar un atributo en la etiqueta body en Html, pero esto es asi en CSS. Se les llama selectores universales*/
*{
    margin:20px 50px ;
}

/* Y a estos se le llama selectores simples, solo modifican las estiquetas introducidas */
body{
    background-color: rgb(162, 224, 224);
}
/* "tex-decoration: underline" es para colocar una linea debajo del texto
    -"text-shadow" para colocar sombras al texto. 8px(sombra horizontal, 5px(sombra vertical, color de sombra.*/
h1{
    color:rgb(4, 4, 4);
    text-align: center;
    text-decoration: underline;
    font-size: 70px;
    font-family:cursive;
    letter-spacing: 20px;
    max-height: 50%;
    text-shadow: 8px 5px rgb(224, 220, 220);
    font-family: 'Tapestry', cursive;  /*letra importada en CSS al inicio del codigo*/
}
/* El "." antes de la etiqueta ayuda a modificar etiquetas con sus respectivas clases, en este caso modificara a la etiqueta <p> de clase p1 */
.p1{
    font-size: 30px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  -"letter-spacing" espacio entre letras.
    -"tex-transform" transformar un texto, "uppercase" es para que transforme todo el texto en mayusculas.
    -"word-spacing" espacio entre palabras.*/
h2{
    letter-spacing: 10px;
    text-transform: uppercase;
    word-spacing: 50px;
    font-size: 40px;
    margin: 50px 50px 0px 50px;
    text-decoration:overline;
}
/* "direction" para indicar la dirección del texto. "rtl" es de derecha a izquierda (Right To Left) */
.p2{
    font-size: 30px;
    text-align: justify;
    font-family: 'Goldman', cursive;  /*letra importada en html en <link>*/
    color: white;
    direction: rtl;